@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lexend+Peta:wght@400;700;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', Times, serif;
    background-color: beige;
    padding-bottom: 100rem;

}
.header{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.header p{
    padding: 10px 7rem;
}
.header p{
    color: black;
    text-decoration: none;
}
.header p:hover{
    transition: 1s;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    border: solid 1px #000000;
    width: 90rem;
    margin: auto;
}
.container p{
    margin-left: 3rem;
}
.bio-container{
    width: 40rem;
}
.name{
    font-size: 4rem;
    font-weight: bold;
    margin-top:10px;
}
.bio-text{
    font-size: 1.9rem; 
}
.main-pic{
    margin-right: 5rem;
}

.social{
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 0px;
    padding-bottom: 5rem;
    margin-left: 2.8rem;
}
.social p{
    margin-left: 0px;
}
.social a :hover{
    opacity: 0.8;
}

.show-link{
    color: beige;
    
    position: fixed;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

    background-color: rgba(200, 200,200, 0.5);
    border-radius: 10px;
    


    width: 90%;
    margin-left: 3rem;
}
.top-link{
 color: black;
 font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 3px;
  background-color: rgba(200, 200,200, 0.5);
  animation: bounce 2s ease-in-out infinite;
  

    visibility: hidden;
    z-index: -100;
}
.scroll-link{
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

.project img{
    border-radius: 10px;
}