@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500;600;700&family=Lexend+Peta:wght@400;700;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: Anton;
    background-color: #011638;
    color : white;
}

html{
    scroll-behavior:smooth ;
}
.header{
    text-align: center;
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 10px;
    margin-left: 1.5rem;
}
header h1{
    text-align: center;
    margin-left: 1.5rem;
}
header span img{
    height: 2rem;   
}
.logo-left {
    margin-right: 5rem;
}
.logo-right {
    margin-left: 5rem;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: -100;
    margin: 1.5rem;
}
main div {
    height: 18rem;
    width: 10rem;
    align-items: center;
    margin-left: 1.5rem;
    margin-top:1.9rem;
}
main div img {
    height: 80%;
    width:100%;
    border-radius:15px;
}
main div p{
    margin:0;
    margin-top: 1rem;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 5px;
}

main p:hover{
    cursor: pointer;
}
.Preview{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.modal-player{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: rgba(200, 200, 200, 0.7);
    width: 70%;
    height: 47rem;
    border-radius: 30px;
    margin-bottom: 4rem;
}
.player-image{
    height: 20rem;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-bottom: 2rem;
}
.player-image img{
    height: 100%;
}
.player-description{
    text-align: center;
    margin: auto;
    margin-left: 15rem;
    margin-top:3rem;
}
.player-description h3{
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 3rem;
    color:#1B03A3;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
   -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.player-description p{
    font-size: 2rem;
}
.club-logo{
    height: 10rem;
}
@media screen and (max-width :800px){
    .main-container{
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        margin-right: 0px;
    }
    main{
        margin-right: 48px;
    }
    main div {
        height: 15rem;
        width: 7rem;
        align-items: center;
        margin-top: 3rem;
        margin-left: 0px;

    }
    main div img{
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-left: 0rem;
        margin-right: 0px;
    }
    header{
        display: block;
        margin-top: 1.5rem;
        width: 70%;
        background-color: rgba(200, 200, 200, 0.7);
        border-radius: 10px;
    }
    header h1{
        display: block;
        margin: 0;
    }
    header span img{
        height: 2rem;   
    }
    .logo-left {
        margin-right: 0rem;
    }
    .logo-right {
        margin-left: 0rem;
    }
    
    .modal-player{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: rgba(200, 200, 200, 0.7);
        width: 70%;
        height: 62rem;
        border-radius: 30px;
        margin-bottom: 1rem;
        margin-left: 3rem;
        margin-right: 48px;
    }
    .Preview{
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 4rem;
    }

    .player-image{
        height: 23rem;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .player-image img{
        height: 100%;
    }
    .player-description{
        text-align: center;
        margin: auto;
        margin-left: 5rem;
        margin-top: 1rem;
    }
    .player-description h3{
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 2.3rem;
        color:#1B03A3;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
       -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    .player-description p{
        font-size: 2rem;
    }
    .club-logo{
        height: 10rem;
        margin-top: 0px;
    }
    .top-link{
        color: black;
        font-size: 0.7rem;
         position: fixed;
         bottom: 3rem;
         right: 10rem;
         width: 3rem;
         height: 3rem;
         display: grid;
         place-items: center;
         border-radius: 3px;
         background-color: rgba(200, 200,200, 0.5);
         animation: bounce 2s ease-in-out infinite;
         
           visibility: hidden;
           z-index: -100;
       }
    .scroll-link{
        visibility: hidden;
    }
}

.top-link{
    color: black;
    font-size: 0.7rem;
     position: fixed;
     bottom: 3rem;
     right: 3rem;
     width: 3rem;
     height: 3rem;
     display: grid;
     place-items: center;
     border-radius: 3px;
     background-color: rgba(200, 200,200, 0.5);
     animation: bounce 2s ease-in-out infinite;
     
       visibility: hidden;
       z-index: -100;
   }
   .scroll-link{
       visibility: visible;
       z-index: 100;
   }
   
   @keyframes bounce {
       0% {
         transform: scale(1);
       }
       50% {
         transform: scale(1.5);
       }
       100% {
         transform: scale(1);
       }
     }

     @media screen and (max-width :1800){
        html{
            scale:1.5
        }
     }