@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500;600;700&family=Lexend+Peta:wght@400;700;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: Anton;
    background-color: #011638;
    color : white;
}

html{
    scroll-behavior:smooth ;
}
.title{
    text-align: center;
    font-size: 3rem;
}
.match-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;

    text-align: center;
}
.match{
    background-color: rgba(200,200,200,0.7);
    
    margin: 10px;

    border-radius: 20px;
}
.stat-container{
    display: flex;
    flex-direction: row;
}
.fed-lg{
    height: 10rem;
    margin-top: 0px;
    margin: 2rem;
}
.score-date{
    margin-top: 2rem;
}